<p style="color: green"><%= notice %></p>

<h1>Appointments</h1>

<div id="appointments">
  <% @appointments.each do |appointment| %>
    <%= render appointment %>
    <p>
      <%= link_to "Show this appointment", user_appointment_url(appointment.user, appointment) %>
    </p>
  <% end %>
</div>

<%= link_to "New appointment", new_user_appointment_path(params[:user_id]) %>
<%= link_to "Show this user", user_path(params[:user_id]) %>
